{% include "partials/header.njk" %}

<section class="pt-large pt-md-xlarge pb-small" data-scroll-section>
  <div class="container">

    <div class="row">
      <div class="offset-md-2 offset-xl-3 col-md-8 col-xl-6">
        <div class="pb-xsmall pb-md-small">
                    <div class="breadcrumbs mt-3 small fade-in">
                        <a href="/" title="Strona główna">
                            Główna
                        </a>
                        <span>
                            |
                        </span>
                        <a href="/realizacje" title="Realizacje">
                            Realizacje
                        </a>
                        <span>
                            |
                        </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="xl split-lines single-post-title my-2">
                      {{ client }}
                    </h1>
                    <div class="breadcrumbs small fade-in">
                        <span>
                            Kategoria:
                        </span>
                        <span>
                             {{ category }}
                        </span>
                        <span>
                              |
                        </span>
                        <span>
                            Wykonano: 
                        </span>
                        <span>
                             {{ date | dateDisplay }}
                        </span>
                    </div>
        </div>
      </div> 
    </div>

    <div class="offset-md-1 col-md-10">
        <div class="parallax-wrap aspect_16-13 fade-in mb-4 mb-lg-5">
           {% workImage "src/" + imageMain, title, "single-post-image img-fluid" %}
        </div>
    </div>

    <div class="row fade-in">
      <div class="offset-md-2 offset-xl-3 col-md-8 col-xl-6">
        {{ content | safe }}
      </div>
      <div class="col-md-1">
        <a
        href="{{ link }}"
        title="Zobacz online"
        class="magnetic mt-4"
        target="_blank"
        rel="nofollow"
        data-strength="100"
        data-strength-text="50"
      >
          <svg width="55px" height="55px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g><path fill="var(--color-dark-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-dark-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g></svg>
      </a>
      </div>
    </div>

    <div class="pt-small pt-md-medium fade-in">
      <div class="line-x lx-op"></div>
    </div>

    <div class="post-navigation pt-xsmall">
      {%- if collections.works %} {%- set nextPost = collections.works |
      getNextCollectionItem(page) %} {%- set previousPost = collections.works |
      getPreviousCollectionItem(page) %} {%- if nextPost or previousPost %}
      <ul class="d-flex flex-wrap fade-in">
        {%- if previousPost %}
        <li class="hover-reveal-wrap col-md-6 prev d-none d-md-block">
          <p class="mb-4">
            <small class="color-accent-2 bold"> Poprzedni: </small>
          </p>
          <a
            href="{{ previousPost.url | url }}"
            title="{{ previousPost.data.client }}"
            class="h3"
            >{{ previousPost.data.title }}</a
          >
        </li>
        {% endif %} {%- if nextPost %}
        <li class="hover-reveal-wrap col-md-6 next">
          <p class="mb-4">
            <small class="color-accent-2 bold"> Kolejny: </small>
          </p>
          <a
            href="{{ nextPost.url | url }}"
            title="{{ nextPost.data.client }}"
            class="h3"
            >{{ nextPost.data.title }}</a
          >
        </li>
        {% endif %}
      </ul>
      {%- endif %} {%- endif %}
    </div>
  </div>
</section>

{% include "partials/footer.njk" %}
