{% include "partials/header.njk" %}

<section class="pt-large pt-md-xlarge pb-small" data-scroll-section>
    <div class="container">

        <div class="row">
            <div class="offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                <div class="single-post-title-wrap pb-xsmall pb-md-small">
                    <div class="breadcrumbs small mt-3 fade-in">
                        <a href="/" title="Strona główna">
                            Główna
                        </a>
                        <span>
                            |
                        </span>
                        <a href="/blog" title="Blog">
                            Blog
                        </a>
                        <span>
                            |
                        </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title split-lines my-3">
                        {{ title }}
                    </h1>
                    <div class="breadcrumbs small fade-in">
                        <span>
                            Kategoria:
                        </span>
                        <span>
                             {{ tags }}
                        </span>
                        <span>
                              |
                        </span>
                        <span>
                            Opublikowano: 
                        </span>
                        <span>
                             {{ date | dateDisplay }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="offset-md-1 col-md-10">
                <div class="parallax-wrap aspect_16-9 fade-in mb-4 mb-lg-5">
                     {% blogImage "src/" + thumbnail, title, "single-post-image img-fluid" %}
                </div>
            </div>
        </div>

        <div class="content row fade-in" id="pinShare">
            <div class="offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                {{ content | safe}}
            </div>
        </div>

        <div class="pt-small pt-md-medium fade-in">
            <div class="line-x lx-op"></div>
        </div>

        <div class="row g-0">
            <div class="col-md-12">
                <div class="post-navigation pt-xsmall">
                    {%- if collections.posts %}
                    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
                    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                    {%- if nextPost or previousPost %}
                    <ul class="d-flex flex-wrap fade-in">
                        {%- if previousPost %}
                        <li class="col-md-6 prev d-none d-md-block">
                            <p class="mb-4">
                                <small class="color-accent-2 bold">
                                    Poprzedni:
                                </small>
                            </p>
                            <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.client }}"
                                class="h3">{{ previousPost.data.title }}
                            </a>
                        </li>
                        {% endif %}
                        {%- if nextPost %}
                        <li class="col-md-6 next">
                            <p class="mb-4">
                                <small class="color-accent-2 bold">
                                    Kolejny:
                                </small>
                            </p>
                            <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.client }}"
                                class="h3">{{ nextPost.data.title }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {%- endif %}
                    {%- endif %}
                </div>
            </div>
        </div>

    </div>
</section>

{% include "partials/footer.njk" %}