{% include "partials/header.njk" %}
{% include "templates/hero-page.njk" %}

<section class="pt-large pb-large" data-scroll-section>
  <div class="container">

    <div class="row gx-4">
      <div class="col-md-8">
        {{ content | safe}}
      </div>
    </div>

</div>
</section>

{% include "partials/footer.njk" %}