{% include "partials/header.njk" %}
 
<section class="hero pt-large pt-md-xlarge" data-scroll-section>
  <div class="container"> 
    <div class="offset-xl-2 col-xl-8 text-md-center">
      <p class="mt-3 mb-2 text-medium bold fade-in color-accent-1">
        Kompleksowe wykonanie
      </p>
      <h1 class="xxl mt-0 mb-4 split-lines last-line-accent">
       {{ title }}
      </h1>
      <p class="offset-md-1 col-md-10 text-medium fade-in">
        <span id="greeting"></span> Zdobądź piękną wysokowydajną stronę internetową która przekona więcej klientów niż strona Twojej konkurencji.
      </p>
    </div>
  </div> 
</section> 

<section class="pb-small" data-scroll-section>
    <div class="hero-parallax d-none d-md-block">
      <div class="hero-parallax-content" id="direction">
        <div class="hero-parallax-wrap me-md-5" data-scroll data-scroll-direction="horizontal"
          data-scroll-speed="2">
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
                <div class="parallax-item">
                  <div class="parallax-item-img">
                    {% Image "src/assets/img/hero/par-1.jpg", "Realizacje" %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
             <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
               {% Image "src/assets/img/hero/par-7.jpg", "Realizacje" %}
               </div>
              </div>
             </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
                 {% Image "src/assets/img/hero/par-2.jpg", "Realizacje" %}
               </div>
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
               {% Image "src/assets/img/hero/par-3.jpg", "Realizacje" %}
               </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-parallax-wrap ms-md-5" data-scroll data-scroll-direction="horizontal"
          data-scroll-speed="-2">
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
               {% Image "src/assets/img/hero/par-4.jpg", "Realizacje" %}
               </div>
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
              {% Image "src/assets/img/hero/par-6.jpg", "Realizacje" %}
              </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
              {% Image "src/assets/img/hero/par-5.jpg", "Realizacje" %}
              </div>
              </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="reveal reveal--top">
              <div class="parallax-item">
                <div class="parallax-item-img">
              {% Image "src/assets/img/hero/par-8.jpg", "Realizacje" %}
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-md-none">
        <div class="reveal reveal--top">
          <div class="parallax-item-img">
        {% Image "src/assets/img/hero/hero-mobile.jpg", "Realizacje" %}
        </div>
        </div>
      </div>
    </div>
</section>

{% include "sections/motto.njk" %}
{% include "sections/works-grid.njk" %}
{% include 'sections/looptext.njk' %}
{% include "sections/circle.njk" %}
{% include "sections/faq.njk" %}
{% include 'sections/opinion.njk' %}

<section class="pt-large pb-medium" data-scroll-section>
  <div class="container">
      {{ content | safe}}
  </div>
</section>

<section class="pb-large" data-scroll-section>
  <div class="container">
      <div class="row gx-5">
         <div class="col-md-3">
          <h3 class="split-lines mt-3 mb-4">
              Stwórzmy stronę która pozyska dla Ciebie nowych klientów! 
          </h3>
            <p class="mt-4 mb-md-5 bold split-lines">
               Specjalizuje się w tworzeniu wysokiej jakości stron internetowych dla firm z {{ town }}
            </p>
        </div>
        <div class="col-md-8">
            <p class="split-lines">
                Dlaczego warto skorzystać z moich usług? Przede wszystkim, posiadam duże doświadczenie w branży, a każdy projekt traktuje indywidualnie, tak aby spełnił oczekiwania klienta. Tworzę strony responsywne, które są dostosowane do różnych urządzeń, co zwiększa komfort przeglądania strony i wpływa na korzyści biznesowe.
            </p>
            <p class="split-lines">
              Jeśli chcesz wyróżnić swoją firmę na rynku lokalnym, niezbędna jest atrakcyjna i funkcjonalna strona www. Dlatego zachęcam do skorzystania z moich usług. Gwarantuje wysoką jakość wykonania oraz atrakcyjne ceny. Skontaktuj się ze mną, żeby poznać szczegóły oferty i rozpocząć owocną współpracę!
            </p>
        </div>
      </div>
  </div>
</section>

{% include "partials/footer.njk" %}