
:root {
    --color-accent-1: #e86344;
    --color-accent-2: #d04e30;
    --color-dark-1: #090c0f;
    --color-dark-2: #121416;
    --color-light-1: #f8fbf9;
    --color-light-2: #f0f5f2;
    --color-light-3: #fff;
    --color-heading: #101b2b;
    --color-text: #5e6265;
    --color-border: #74787b;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-dark-1: #f8fbf9;
    --color-dark-2: #f0f5f2;
    --color-light-1: #090c0f;
    --color-light-2: #121416;
    --color-light-3: #08090b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
    }
  }
  
  .light {
    --color-dark-1: #090c0f;
    --color-dark-2: #121416;
    --color-light-1: #f8fbf9;
    --color-light-2: #f0f5f2;
    --color-light-3: #fff;
    --color-heading: #101b2b;
    --color-text: #74787b;
    --color-border: #74787b;
  }
  
  .dark {
    --color-dark-1: #f8fbf9;
    --color-dark-2: #f0f5f2;
    --color-light-1: #090c0f;
    --color-light-2: #121416;
    --color-light-3: #08090b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
}

  .bg-light {
    background-color: #fff
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }
  .bg-dark {
    background-color: #121920
  }

  .color-accent-1 {
    color: var(--color-accent-1)!important;
    text-shadow: none
  }

  .color-accent-2 {
    color: var(--color-accent-2)!important;
    text-shadow: none
  }

  .color-light {
    color: #fff
  }

  .color-light-1 {
    color: var(--color-light-1)!important
  }

  .color-light-2 {
    color: var(--color-light-2)!important
  }

