:root {
  --easing-1: 0.5s cubic-bezier(0.79, 0, 0.07, 0.88);
  --radius-1: 8px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-family: var(--font-primary);
  color: var(--color-text);
  background: var(--color-light-2);
}
/*
body::before,
body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  border: 8px solid var(--color-light-2);
  pointer-events: none;
  z-index: 999
}

body::after {
  border-radius: 12px
}
*/
.scrollContainer {
  background-color: var(--color-light-1);
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.blur-load {
  position: relative
}

.blur-load .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: opacity .5s cubic-bezier(.79,0,.07,.88);
  z-index: 1
}

.blur-load.loaded .placeholder {
  opacity: 0
}

.blur-load picture img {
  transition: opacity .5s cubic-bezier(.79,0,.07,.88);
  opacity: 0
}

.blur-load.loaded picture img {
  opacity: 1
} 

.blend-mode {
  mix-blend-mode: exclusion;
}

.aspect_16-13 {
  aspect-ratio: 16/13;
}

.aspect_16-10 {
  aspect-ratio: 16/10;
}

.aspect_16-7 {
  aspect-ratio: 16/7;
}

.parallax-wrap {
  border-radius: var(--radius-1)
}

.parallax-wrap .image-wrapper {
  height: 100%
}

.parallax-wrap picture img {
  height: 100%;
  object-fit: cover
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  padding-left: 0;
  list-style: none;
}

ol {
  padding-left: 18px;
}

ol li {
  list-style: inherit;
}

.overflow-hidden {
  overflow: hidden;
}

.link-hover {
  position: relative;
  display: inline-block;
}

.link-hover::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--color-accent-1);
  transition: var(--easing-1);
  z-index: -1
}

.link-hover:hover::before {
  height: 33%;
}

@media (min-width: 767px) {
  html {
    overflow-y: hidden;
  }
}
