
.transition-blur {
  opacity: 1;
	filter: blur(0px);
	transition: .3s ease-in-out
}
  
html.is-animating .transition-blur {
  filter: blur(20px);
  opacity: 0
}

html.is-rendering .transition-blur {
  filter: blur(20px);
  opacity: 0
}

.swup-progress-bar {
    height: 4px;
    background-color: var(--color-accent-1);
    z-index: 999999
  }

  #users.is-changing {
    transition: opacity 250ms;
  }
  #users.is-animating {
    opacity: 0;
  }