
.transition-blur {
  opacity: 1;
	filter: blur(0px);
	transition: .3s ease-in-out
}
  
html.is-animating .transition-blur {
  filter: blur(50px);
  opacity: 0
}

html.is-rendering .transition-blur {
  filter: blur(50px);
  opacity: 0
}

.swup-progress-bar {
    height: 3px;
    background-color: var(--color-light-1);
    z-index: 999999
  }
