@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/poppins-v20-latin-ext_latin-300.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v20-latin_latin-ext-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v20-latin_latin-ext-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v20-latin_latin-ext-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Telegraf';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/PPTelegraf-UltraLight.otf'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Telegraf';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/PPTelegraf-Regular.otf'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Telegraf';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/PPTelegraf-UltraBold.otf'); 
}

:root {
  --font-primary: "Poppins";
  --font-secondary: "Telegraf";
}

.xxl, .xxl, .xl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: var(--font-secondary);
  font-weight: 500;
  color: var(--color-heading)
} 

.xxl { 
  margin-bottom: .5em;
  font-size: clamp(34px, 5vw, 76px);
  line-height: 1
}

.xl { 
  margin-bottom: .5em;
  font-size: clamp(30px, 4.3vw, 62px);
  line-height: 1.2
}

h1, .h1 {
  margin-bottom: .5em;
  font-size: clamp(27px, 3vw, 42px); 
  line-height: 1.3
}

h2, .h2 {
  margin-bottom: .8em;
  font-size: clamp(24px, 2vw, 28px);
  line-height: 1.3
}

h3, .h3 {
    margin-bottom: .8em;
    font-size: clamp(21px, 1.7vw, 24px);
    line-height: 1.4
  }
  
  h4, .h4 {
  margin-bottom: .8em;
  font-size: clamp(19px, 1.4vw, 21px);
  line-height: 1.4
}

h5, .h5 {
  margin-bottom: .8em;
  font-size: clamp(17px, 1.1vw, 18px);
  line-height: 1.4
}

h6, .h6 {
margin-bottom: 1em;
font-size: clamp(15px, 1vw, 16px);
line-height: 1.4
}

p, .paragraph, li {
  position: relative;
  margin-bottom: 2em;
  font-family: var(--font-primary);
  font-size: clamp(16px, 1.2vw, 18px);
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-text)
}

ol li {
  margin-bottom: 1em
} 

.sidebar-list {
  position: relative;
  padding-left: 2em
}

.sidebar-list::before {
  position: absolute;
  content: "";
  top: 1em;
  left: .3em;
  bottom: 1em;
  width: 1px;
  background-color: var(--color-accent-1)
}

.sidebar-list li {
  position: relative;
  font-size: 95%;
  line-height: 1.5
}

.sidebar-list li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -2.3em;
  width: 1em;
  height: 1em;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-light-1);
  border: 1px solid var(--color-accent-1)
}
 
blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color-accent-1)
}

.text-medium {
  font-size: clamp(18px, 1.4vw, 21px);
}

small, .small {
  font-size: 12px;
  line-height: 1.8
}

.subheading {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px
}

blockquote p {
  font-weight: 400;
  color: var(--color-dark-2)
}

strong,
.bold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.text-center {
  text-align: center
}

.text-end {
  text-align: end
}

.text-border {
  position: relative;
  display: inline-block
}

.text-border::before {
   position: absolute;
   content: "";
   bottom: 0%;
   height: 35%;
   left: 0;
   width: 100%;
   background-color: var(--color-accent-1);
   z-index: -1
}

.gradient-text {
    background: var(--color-accent-1);
    background: linear-gradient(81deg, #192429 0%, #12252e 62%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 100%
}

@media(min-width:767px) {
  blockquote {
    padding-left: 1.8em
  }
  .text-md-end {
    text-align: end
  }
  .text-md-center {
    text-align: center
  }
  .text-behind {
    position: relative;
  }
  .text-behind::before {
    position: absolute;
    content: attr(tg-txt-name);
    top: 43%;
    left: -5px;
    transform: translateY(-50%);
    font-family: var(--font-secondary);
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: var(--color-light-1);
    text-shadow: 1.5px 1.5px 0 rgba(114, 114, 114, 0.2117647059), -1.5px -1.5px rgba(114, 114, 114, 0.2117647059), 1.5px -1.5px 0 rgba(114, 114, 114, 0.2117647059), -1.5px 1.5px 0 rgba(114, 114, 114, 0.2117647059), 1.5px 1.5px 0 rgba(114, 114, 114, 0.2117647059);
    opacity: 0.25;
    z-index: -1
  }
}

.line-parent { 
  overflow: hidden
}

.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden
}

.line-clamp-2 {
  -webkit-line-clamp: 2
}

.line-clamp-3 {
    -webkit-line-clamp: 3
}

.line-clamp-2 .line-parent:nth-child(3),
.line-clamp-2 .line-parent:nth-child(4),
.line-clamp-2 .line-parent:nth-child(5) {
  display: none!important
}

.line-clamp-3 .line-parent:nth-child(4),
.line-clamp-3 .line-parent:nth-child(5) {
  display: none!important
}

.stroke-text {
  color: var(--color-light-1);
  text-shadow: 0 0 1px var(--color-dark-1), -1px -1px 0 var(--color-dark-1), 1px -1px 0 var(--color-dark-1), -1px 1px 0 var(--color-dark-1), 1px 1px 0 var(--color-dark-1);
}

.stroke-text-accent {
  color: var(--color-light-1);
  text-shadow: 0 0 1px var(--color-accent-1), -1px -1px 0 var(--color-accent-1), 1px -1px 0 var(--color-accent-1), -1px 1px 0 var(--color-accent-1), 1px 1px 0 var(--color-accent-1);
}

.first-line-accent .line-parent:nth-child(1) {
  color: var(--color-accent-1);
}

.last-line-accent .line-parent:last-child {
  color: var(--color-accent-1);
}
