<section class="hero-page pt-xlarge" data-scroll-section>
  <div class="container">
        <div class="offset-md-1 col-md-10 text-center">
          <div class="breadcrumbs small">
            <span>Główna | </span><span> {{ title }} </span>
          </div>
          <h1 class="xl split-lines my-2">{{ title }}<span class="color-accent-1">.</span></h1>
        </div>
      <div class="pt-small pb-small">
        <div class="line-x lx-op"></div>
      </div>
  </div>
</section>
