---
layout: "layouts/front.njk"
title: Wysłano formularz
description: Eleventy.js Starter Site with GSAP, Swup.js, Locomotive Scroll 
---

<section class="pt-xlarge pb-xlarge h-100vh" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1 class="split-text-lines">
                    Wysłano formularz
                </h1>
                <a href="/" title="Wróć na stronę główną" class="button magnetic fade-in mt-3 mb-4" data-strength="50" data-strength-text="50">
                    <span>Wróć na stronę główną</span>
                    <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>