.site-header {
  position: fixed;
  left: 0; 
  top: 0;
  width: 100vw;
  padding-top: 2.1em;
  background: var(--color-light-1);
  transform: translateY(0);
  transition: .4s ease-in-out;
  z-index: 20
}

.site-header .container {
  padding-bottom: 1.4em
}

.site-header.scrolled {
  background: transparent;
  pointer-events: none;
  transform: translateY(-70%);
  opacity: 0
}
.site-header.scrolled .menu-toggle,
.site-header.scrolled .logo-wrap {
  pointer-events: none;
}
.logo {
  display: inline-block
}
.logo img {
  max-width: 155px;
  height: auto
}

.desktop-nav ul {
  margin-top: 0;
  margin-bottom: 0
}

.desktop-nav ul li {
  margin-bottom: 0;
  line-height: 1.4;
}

.desktop-nav ul li a {
  color: var(--color-heading);
  font-size: clamp(16px, 1vw, 17px);
  font-weight: 500;
  letter-spacing: 1px;
}

.desktop-nav ul li span {
  display: block;
  margin-top: .2em;
  font-size: 70%;
  font-weight: 300;
  text-transform: uppercase;
  cursor: default
}

.button-header {
  display: inline-block;
  position: relative;
  padding: .85em 1.5em 0.8em;
  background-color: var(--color-accent-1);
  font-size: .95rem;
  font-weight: 500;
  border: none;
  border-radius: 28px;
  cursor: pointer
}
.button-header::before {
  position: absolute;
  content: "";
  top: -1px;
  bottom: -1px;
  right: -1px;
  width: 0;
  border-radius: 28px;
  background: #111;
  transition: 0.4s cubic-bezier(.79,0,.07,.88);
  z-index: -1
}
.button-header span {
  display: inline-block;
  font-weight: 500;
  color: #111;
  transition: .4s cubic-bezier(.79,0,.07,.88)
}
.button-header svg {
  margin-left: 15px;
  transform: rotate(45deg);
  transition: .4s cubic-bezier(.79,0,.07,.88)
}
.button-header svg path {
  stroke:  #111;
  transition: .4s cubic-bezier(.79,0,.07,.88)
}

.menu-toggle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-light-2);
  border: none;
  pointer-events: all;
  cursor: pointer
}
.menu-toggle-wrap {
  margin-top: -7px;
  display: flex
}
.hamburger {
  display: inline-block;
  width: 69%;
  margin: 0 auto;
}
.burger-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-1);
  transition: .6s ease-in-out;
}
.bl-1 {
  margin-bottom: 0.5em;
  margin-top: .1em
}
.menu-open .bl-1 {
  transform: rotate(45deg) translateY(.2em) translateX(.2em)
}

.menu-open .bl-2 {
  transform: rotate(-45deg) translateY(-.2em) translateX(.2em)
}

.fixed {
  position: fixed;
  width: 100%
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999
}

.change-theme {
	display: inline-block;
	margin-right: 1em;
	border: none;
	background-color: transparent;
	color: #fff;
	transition: all 0.3s ease-in-out;
  cursor: pointer
}
  
.change-theme .moon {
	display: none
}

.change-theme .sun {
	display: block
  }

.light .change-theme .moon {
	display: block
}

.light .change-theme .sun {
	display: none
  }

.dark .change-theme .sun {
	display: block
  }
  
.dark .change-theme .moon {
	display: none
  }

  .fullpage-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    transform: none;
    z-index: 99
  }
  
  .menu-bg {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--color-light-1);
    z-index: 99
  }
  
  .main-menu {
    position: relative;
    z-index: 999;
  }
  
  .main-menu ul {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    counter-reset: li
  }
  
  .main-menu li {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    overflow: hidden;
    transition: transform .3s ease-in-out 0s;
  }
  .main-menu li a {
    position: relative;
    font-size: 34px;
    color: var(--color-heading);
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    display: inline-block;
    line-height: 1.2
  }
  .main-menu ul li a::before {
    content: "0" counter(li);
    counter-increment: li;
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 30%;
    font-weight: 300;
    color: var(--color-dark-2);
    opacity: .6
  }

@media(max-width:768px) {
  .menu-toggle {
    width: 48px;
    height: 48px
  }  
}

@media(min-width:767px) {
.button-header:hover::before {
    width: 102%
}
.button-header:hover span {
   color: #fff
}
.button-header:hover svg {
    transform: rotate(360deg)
}
.button-header:hover svg path {
    stroke: #fff
}
}



.snipcart-test-banner {
  border-top: 4px solid #ff6435!important;
}

.snipcart-test-banner__message {
  background-color: #ff6435!important;
  color: #fff;
}

.snipcart-button-primary {
  background-color: #ff6435!important;
}