<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content="Eleventy" />

  <title>{{ title }} - Przemek Miros</title>
  <meta name="description" content="{{ description }}">
  <meta name="google-site-verification" content="_uLorccZIpY-NlRb036yMXgs2lvctMD5A_aSlU6HRa4" />
  {% set robots = robots | default('index') %}
  <meta name="robots" content="{{ robots }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://przemekmiros.pl/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="https://przemekmiros.pl/assets/img/opengraph.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="przemekmiros.pl">
  <meta property="twitter:url" content="https://przemekmiros.pl/">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="https://przemekmiros.pl/assets/img/opengraph.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon.svg">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon.svg">
  <link rel="mask-icon" href="/assets/img/favicon/favicon.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <link rel="stylesheet" href="/static/cookieconsent.css" media="print" onload="this.media='all'">

<style>
  .preloader {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100vw;
      height: 100vh;
      background: var(--color-light-1);
      transition: all 0.25s ease-out;
  overflow: hidden;
      pointer-events: none;
      z-index: 10000000
  }
  .preloader_inner {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 10000000
  }
  .scrollContainer {
      opacity: 0;
      transition: opacity 0.25s ease-out;
  }
  
  .circle-loader {
  position: relative;
  width: auto;
  height: auto;
  }
  
  .circle-loader div {
  height: 10px;
  width: 10px;
  background-color: var(--color-accent-1);
  border-radius: 50%;
  position: absolute;
  -webkit-animation: 0.8s opaque ease-in-out infinite both;
  animation: 0.8s opaque ease-in-out infinite both;
  }
  
  .circle-loader div:nth-child(1) {
  top: -25px;
  left: 0px;
  }
  .circle-loader div:nth-child(2) {
  top: -17px;
  left: 17px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  }
  .circle-loader div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  }
  .circle-loader div:nth-child(4) {
  top: 17px;
  left: 17px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  }
  .circle-loader div:nth-child(5) {
  top: 25px;
  left: 0px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  }
  .circle-loader div:nth-child(6) {
  top: 17px;
  left: -17px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  }
  .circle-loader div:nth-child(7) {
  top: 0;
  left: -23px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  }
  .circle-loader div:nth-child(8) {
  top: -17px;
  left: -17px;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  }
  
  @keyframes opaque {
  0% {
  opacity: 0.1;
  }
  40% {
  opacity: 1;
  }
  80% {
  opacity: 0.1;
  }
  100% {
  opacity: 0.1;
  }
  }
  </style>

</head>

<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
 
  <div class="sticky-element h-100h">
    <div class="preloader">
        <div class="preloader_inner">
            <div class="circle-loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

  <div class="scrollContainer" id="pinSection">
    <script>
      var obj = document.querySelector('.preloader'),
          page = document.querySelector('.scrollContainer');

          window.addEventListener("load", function () {
              obj.style.opacity = "0";
              page.style.opacity = "1";
      });
    </script>
    <header class="site-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-md-2 col-xl-2 d-flex">
              <a href="/" class="logo" title="Logo">
                  <img src="/assets/img/logo/logo.svg" class="site-logo" width="165" height="46" alt="Przemek Miros - Logo">
              </a>
          </div>
          <div class="offset-xl-1 col-md-8 col-xl-6 d-none d-md-block">
              <nav class="desktop-nav">
                <ul class="d-flex justify-content-between">
                  <li>
                    <span>Zobacz</span>
                    <a href="/realizacje/" class="link-hover" title="Realizacje">
                      Realizacje
                    </a>
                  </li>
                  <li>
                  <span>Sprawdź</span>
                    <a href="/oferta/" class="link-hover" title="ROferta">
                      Ofertę
                    </a>
                  </li>
                  <li>
                  <span>Przeczytaj</span>
                    <a href="/blog/" class="link-hover" title="Porady">
                      Porady 
                    </a>
                  </li>
                  <li>
                  <span>Kilka słów</span>
                    <a href="/o-mnie" class="link-hover" title="O mnie">
                      O mnie
                    </a>
                  </li>
                  <li>
                 <span>Skontaktuj się</span>
                    <a href="/kontakt/" class="link-hover" title="Kontakt">
                      Kontakt
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
          <div class="col-6 col-md-2 col-xl-3 d-flex justify-content-end">
              <a href="/wycena" title="Realizacje" class="button-header d-none d-md-block" style="transform: rotate(0.005deg); opacity: 1;">
                <span>
                    Wycena
                </span> 
                <svg class="d-none d-xl-inline-block" height="11" viewBox="0 0 14 14" width="11" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
              </a>

              <button class="menu-toggle d-md-none" id="menuToggle" aria-label="Otwórz menu">
                <span class="hamburger">
                <span class="burger-line bl-1"></span>
                <span class="burger-line bl-2"></span>
                </span>
              </button>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="line-x-static lx-op"></div>
      </div>
    </header>


    <div id="swup" class="transition-blur">
      <div class="scrollprogress-wrap">
        <div class="scrollprogress"></div>
      </div>
      <div class="sticky" data-scroll-sticky data-scroll-target="#pinSection">
        <section class="fullpage-menu">
          <div class="fullpage-menu-inner container h-100">
            <div class="menu-bg"></div>
            <div class="d-flex w-100 h-100 align-items-center">

                <nav class="main-menu w-100">
                  <ul class="main-menu-list">
                    <div class="line-xh lx-op"></div> 
                    <li>
                      <a href="/realizacje/" title="Realizacje">Realizacje</a>
                    </li>
                    <div class="line-xh lx-op"></div> 
                    <li>
                      <a href="/oferta/" title="Realizacje">Oferta</a>
                    </li>
                    <div class="line-xh lx-op"></div> 
                    <li>
                      <a href="/blog/" title="Artyuły">Artykuły</a>
                    </li>
                    <div class="line-xh lx-op"></div> 
                    <li>
                      <a href="/wycena/" title="Wycena">Wycena</a>
                    </li>
                    <div class="line-xh lx-op"></div> 
                    <li>
                      <a href="/kontakt/" title="Kontakt">Kontakt</a>
                    </li>
                    <div class="line-xh lx-op"></div> 
                  </ul>
                </nav>

            </div>
          </div>
        </section>
      </div>
      <main class="main">
        <div class="bg-noise"></div>