---
layout: "layouts/base.njk"
title: Skontaktuj się
description: 
---   

<section class="pt-xsmall pb-small" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-5 pb-xsmall">
                <div class="contact-card fade-in">
                    <ul class="contact-list">
                        <li>
                            <a href="mailto:kontakt@futurewebstudio.pl">
                                <svg width="52" height="52" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32.2063 17.9006H17.9643C16.9852 17.9006 16.193 18.6883 16.193 19.651L16.1841 30.153C16.1841 31.1157 16.9852 31.9033 17.9643 31.9033H32.2063C33.1854 31.9033 33.9866 31.1157 33.9866 30.153V19.651C33.9866 18.6883 33.1854 17.9006 32.2063 17.9006ZM32.2063 21.4013L25.0853 25.7771L17.9643 21.4013V19.651L25.0853 24.0268L32.2063 19.651V21.4013Z" fill="var(--color-accent-1)"/>
                                    <circle cx="24.8156" cy="25.1845" r="24.3156" stroke="#8282827a"/>
                                </svg>
                                <span>
                                  kontakt@futurewebstudio.pl
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+48788660190">
                                <svg width="52" height="52" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.7296 24.1791C21.0909 26.85 23.2841 29.0301 25.9594 30.3986L28.0392 28.3223C28.2945 28.0674 28.6726 27.9825 29.0035 28.0958C30.0623 28.445 31.2062 28.6337 32.3784 28.6337C32.8984 28.6337 33.3238 29.0584 33.3238 29.5775V32.8712C33.3238 33.3903 32.8984 33.815 32.3784 33.815C23.5015 33.815 16.3074 26.6329 16.3074 17.7709C16.3074 17.2518 16.7328 16.8271 17.2527 16.8271H20.5615C21.0814 16.8271 21.5068 17.2518 21.5068 17.7709C21.5068 18.9506 21.6959 20.0832 22.0457 21.1402C22.1497 21.4705 22.074 21.8386 21.8093 22.1028L19.7296 24.1791Z" fill="var(--color-accent-1)"/>
                                    <circle cx="24.8156" cy="25.4999" r="24.3156" stroke="#8282827a"/>
                                </svg>
                                <span>
                                  +48 788 660 190
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg width="52" height="52" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="24.8156" cy="24.8156" r="24.3156" stroke="#8282827a"/>
                                    <path d="M32.8511 16.2461L32.6998 16.2744L27.6516 18.228L21.9795 16.2461L16.6477 18.0393C16.4492 18.1053 16.3074 18.2752 16.3074 18.4923V32.7621C16.3074 33.0263 16.5154 33.2339 16.7801 33.2339L16.9313 33.2056L21.9795 31.252L27.6516 33.2339L32.9834 31.4408C33.182 31.3747 33.3238 31.2048 33.3238 30.9878V16.718C33.3238 16.4537 33.1158 16.2461 32.8511 16.2461ZM27.6516 31.3464L21.9795 29.3551V18.1336L27.6516 20.125V31.3464Z" fill="var(--color-accent-1)"/>
                                </svg>
                                <span>
                                  05-800 Pruszków
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pb-xsmall">
                  <form id="contactForm" class="fade-in" action="" method="POST">

                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="floating-label">
                          <input class="floating-input" type="text" name="visitor_name" required placeholder=" ">
                          <span class="highlight"></span>
                          <label>Imię i nazwisko</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="floating-label">
                          <input class="floating-input" type="text" name="visitor_mail" required placeholder=" ">
                          <span class="highlight"></span>
                          <label>Adres email</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="floating-label">
                          <input class="floating-input" type="text" name="visitor_phone" required placeholder=" ">
                          <span class="highlight"></span>
                          <label>Telefon</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="floating-label">
                          <input class="floating-input" type="text" name="visitor_subject" placeholder=" ">
                          <span class="highlight"></span>
                          <label>Temat</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="floating-label">
                          <textarea class="floating-input floating-textarea" rows="5" name="visitor_msg" placeholder=" "></textarea>
                          <span class="highlight"></span>
                          <label>Wiadomość</label>
                        </div>
                      </div>
                      <div class="relative">                    
                        <button type="submit" class="fade-in magnetic mb-2 mt-1 button" data-strength="100" data-strength-text="50"><span>Wyślij formularz</span> 
                        <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" height="11" width="11" fill="none"><path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                        </button>
                      </div>
                      <div id="send_contact_form_status" class="form-status"></div>
                    </div>
                  </form>
            </div>
        </div>
    </div> 
</section> 

