---
layout: "layouts/nofooter.njk"
title: Wycena
description: Wypełnij krótki brief żeby otrzymać bezpłatną wycenę. Dobry plan jest kluczem do udanego projektu.
---

<section class="brief" data-scroll-section>
    <div class="container">
       <div class="multiform offset-md-3 col-md-6 pt-xxlarge pb-xxlarge">
        <div class="tab-status">
            <span class="tab active">1</span>
            <span class="tab">2</span>
            <span class="tab">3</span>
            <span class="tab">4</span>
          </div>
          <form action="https://formsubmit.co/81086067e8de6e39116a84ad0b81943d" method="POST">
            <input type="hidden" name="_next" value="https://marketing-kaz.pages.dev/forms/wyslano-formularz">
            <input type="hidden" name="_captcha" value="false">
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_template" value="box">
            <input type="hidden" name="_subject" value="Wycena strony">

            <div role="tab-list" class="tab-list">

              <div role="tabpanel" id="color" class="tabpanel">
                <h3>Dane kontaktowe</h3>
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="floating-label">
                        <input class="form-input floating-input required" type="text" name="Imie i nazwisko" placeholder="">
                        <span class="highlight"></span>
                        <label>Imię i nazwisko</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="floating-label">
                        <input type="text" name="Adres email" class="form-input floating-input required" placeholder="">
                        <span class="highlight"></span>
                        <label>Adres email</label>
                    </div>                 
                  </div>
                  <div class="col-md-6">
                    <div class="floating-label">
                        <input type="text" name="Numer telefonu" class="form-input floating-input" placeholder="">
                        <span class="highlight"></span>
                        <label>Numer telefonu</label>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="floating-label">
                        <input type="text" name="Nazwa firmy" class="form-input floating-input required" placeholder="">
                        <span class="highlight"></span>
                        <label>Nazwa firmy</label>
                    </div>
                </div>
                </div>
              </div>

              <div role="tabpanel" id="hobbies" class="tabpanel hidden">
                <h3>Materiały</h3>
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" id="check1" name="Logo" class="form-input required">
                        <label for="check1">Logo</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="check2" name="Opisy" class="form-input required">
                        <label for="check2">Opisy</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="check3" name="Zdjęcia" class="form-input required">
                        <label for="check3">Zdjęcia</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="check4" name="Zdjęcia" class="form-input required">
                        <label for="check4">Zdjęcia</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="check5" name="Domena" class="form-input required">
                        <label for="check5">Domena</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="check6" name="Hosting" class="form-input required">
                        <label for="check6">Hosting</label>
                    </div>
                </div>
              </div>
              <div role="tabpanel" id="hobbies" class="tabpanel hidden">
                <h3>Dane techniczne</h3>
                <div class="row g-3">
                    <div class="col-md-6">
                      <div class="floating-label">
                          <input class="form-input floating-input required" type="text" name="Strona 1" placeholder="">
                          <span class="highlight"></span>
                          <label>Strona 1</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="floating-label">
                          <input type="text" name="Strona 2" class="form-input floating-input required" placeholder="">
                          <span class="highlight"></span>
                          <label>Strona 2</label>
                      </div>                 
                    </div>
                    <div class="col-md-6">
                      <div class="floating-label">
                          <input type="text" name="Strona 3" class="form-input floating-input" placeholder="">
                          <span class="highlight"></span>
                          <label>Strona 3</label>
                      </div> 
                  </div>
                  <div class="col-md-6">
                      <div class="floating-label">
                          <input type="text" name="Strona 4" class="form-input floating-input required" placeholder="">
                          <span class="highlight"></span>
                          <label>Strona 4</label>
                      </div>
                  </div>
                  </div>
              </div>
              <div role="tabpanel" id="occupation" class="tabpanel hidden">
                <h3>Dodatkowe informacje</h3>
                <div class="floating-label">
                    <textarea class="form-input floating-input floating-textarea" name="Dodatkowe informacje" placeholder=" "></textarea>
                    <span class="highlight"></span>
                    <label>Wiadomość</label>
                </div>
              </div>
            </div>
              <div class="pagination">
                <a class="btn hidden" id="prev">Poprzednie</a>
                <a class="btn" id="next">Kolejne</a>
                <button class="btn btn-submit hidden" id="submit">Wyślij</button>
              </div>
          </form>
       </div>
    </div>
</section> 
