<section class="circle pt-small pb-medium pb-md-xlarge" data-scroll-section>
  <div class="container text-md-center">
    <div class="row">
      <div class="col-md-4 hover-col hc-one active">
        <div class="circle-card">
          <p class="my-0 color-accent-2 bold">01</p>
          <h2 class="h3 split-lines my-2">Indywidualny projekt</h2>
          <p class="fade-in">
            Atrakcyjny, ponadczasowy i dopasowany do Twojej branży.
          </p>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 hover-col hc-two">
        <div class="circle-card">
           <p class="my-0 color-accent-2 bold">02</p>
          <h2 class="h3 split-lines my-2">Responsywna technologia</h2>
          <p class="fade-in">
            Doskonałe wyświetlanie strony internetowej na każdym urządzeniu.
          </p>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="circle-card cri-wrap d-none d-md-block">
          <div class="center-rotate-image cri-one active">
            {% Image "src/assets/img/hero/blog-ux-seo.jpg", "Indywidualny projekt strony www" %}
          </div>
          <div class="center-rotate-image cri-two">
            {% Image "src/assets/img/hero/responsive-2.jpg", "Hero" %}
          </div>
          <div class="center-rotate-image cri-three">
            {% Image "src/assets/img/hero/blog-brand-essence.jpg", "Hero" %}
          </div>
          <div class="center-rotate-image cri-four">
            {% Image "src/assets/img/hero/blog-site-long.jpg", "Hero" %}
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 hover-col hc-three">
        <div class="circle-card">
         <p class="my-0 color-accent-2 bold">03</p>
          <h2 class="h3 split-lines my-2">Optymalizacja dla Google</h2>
          <p
            class="fade-in"
          >
          Osiągniesz wyższe pozycje w wyszukiwarce i zwiększysz ruch.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="circle-card"></div>
      </div>
      <div class="col-md-4 hover-col hc-four">
        <div class="circle-card">
          <p class="my-0 color-accent-2 bold">04</p>
          <h2 class="h3 split-lines my-2">Solidne wykonanie</h2>
          <p class="fade-in">
            Wybieram tylko solidne rozwiązania bez kreatorów witryn.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
