<section class="circle pt-small pb-large" data-scroll-section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 hover-col hc-one active">
        <div class="circle-card">
          <p class="my-0 color-accent-1 bold">01</p>
          <h2 class="h3 split-lines my-2">Indywidualny projekt</h2>
          <p class="has-small-font-size">
            Atrakcyjny, ponadczasowy i dopasowany do Twojej branży.
          </p>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 hover-col hc-two">
        <div class="circle-card">
           <p class="my-0 color-accent-1 bold">02</p>
          <h2 class="h3 split-lines my-2">Responsywna technologia</h2>
          <p class="has-small-font-size">
            Doskonałe wyświetlanie strony internetowej na każdym urządzeniu.
          </p>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="circle-card cri-wrap">
          <div class="center-rotate-image cri-one active">
            <img src="/assets/img/circle/rules.gif" alt="">
          </div>
          <div class="center-rotate-image cri-two">
            <img src="/assets/img/circle/web.gif" alt="">
          </div>
          <div class="center-rotate-image cri-three">
            <img src="/assets/img/circle/seo.webp" alt="">
          </div>
          <div class="center-rotate-image cri-four">
            <img src="/assets/img/circle/rules.gif" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 hover-col hc-three">
        <div class="circle-card">
         <p class="my-0 color-accent-1 bold">03</p>
          <h2 class="h3 split-lines my-2">Optymalizacja dla Google</h2>
          <p
            class="has-theme-palette-5-color has-text-color has-small-font-size"
          >
          Osiągniesz wyższe pozycje w wyszukiwarce i zwiększysz ruch.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="circle-card"></div>
      </div>
      <div class="col-md-4 hover-col hc-four">
        <div class="circle-card">
          <p class="my-0 color-accent-1 bold">04</p>
          <h2 class="h3 split-lines my-2">Solidne wykonanie</h2>
          <p class="has-small-font-size">
            Wybieram tylko solidne rozwiązania bez kreatorów witryn.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
