<section class="hero pt-large pt-md-xlarge" data-scroll-section>
  <div class="container">
    <div class="offset-xl-1 col-xl-10 text-md-center">
      <p id="greeting" class="mt-3 mb-2 text-medium bold fade-in color-accent-1"></p>
      <h1 class="xxl mt-0 mb-4 split-lines last-line-accent">
        Pokaż się w internecie<br class="d-none d-md-block" /> &nbsp; z najlepszej strony
      </h1>
      <p class="offset-md-2 col-md-8 text-medium fade-in">
        Zdobądź piękną wysokowydajną stronę internetową która przekona więcej klientów niż strona Twojej konkurencji.
      </p>
    </div>
  </div> 
</section> 










