<section class="hero pt-xlarge" data-scroll-section>
  <div class="container">
    <div class="offset-xl-1 col-xl-10 text-center">
      <p id="greeting" class="my-2 text-medium fade-in"></p>
      <h1 class="xxl mt-0 mb-4 split-lines line-accent-2">
        Pokaż się w internecie z <span class="text-border"> najlepszej </span> &nbsp; strony 
      </h1>
      <p class="offset-md-2 col-md-8 text-medium fade-in">
        Moje usługi będą dla Ciebie idealne jeżeli chcesz mieć więcej klientów
      </p>
    </div>
  </div> 
</section> 










