<section class="pt-small pb-small" data-scroll-section>
    <div class="container">
        <div class="parallax-wrap aspect_16-9 reveal reveal--top">
        {% Image "src/assets/img/hero/blog-responsive.jpg", "Hero" %}
        </div>
    </div> 
  </section> 