<section class="pt-large pb-xlarge" data-scroll-section>
    <div class="container">
        <h2 class="xl split-lines">
            lazy blur images
        </h2>
        <div class="line-x mb-5"></div>
        <div class="row g-5">
            <div class="col-md-12">
                {% Image "src/assets/img/hero/blog-brand-essence.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-12">
                {% Image "src/assets/img/hero/blog-marketing-strategy.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-12">
                {% Image "src/assets/img/hero/blog-media-seo.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-12">
                {% Image "src/assets/img/hero/blog-responsive.jpg", "Bootstrap" %}
            </div>
        </div>
    </div>
</section>
