  
  <section class="loop-text pb-md-small" data-scroll-section>
    <div class="loop-text-wrap">
      <div class="loop-text-list">
        <div class="loop-text-item">
          <span class="item-txt">Strony www</span>
          <span class="item-d">
            <p class="item-dot"></p>
          </span>
          <span class="item-txt">Ecommerce</span>
          <span class="item-d">
            <p class="item-dot"></p>
          </span>
          <span class="item-txt">Pozycjonowanie</span>
          <span class="item-d">
            <p class="item-dot"></p>
          </span>
          <span class="item-txt">Administracja</span>
          <span class="item-d">
            <p class="item-dot"></p>
          </span>
         </div>
      </div>
        <div class="loop-text-list">
          <div class="loop-text-item">
            <span class="item-txt">Strony www</span>
            <span class="item-d">
              <p class="item-dot"></p>
            </span>
            <span class="item-txt">Ecommerce</span>
            <span class="item-d">
              <p class="item-dot"></p>
            </span>
            <span class="item-txt">Pozycjonowanie</span>
            <span class="item-d">
              <p class="item-dot"></p>
            </span>
            <span class="item-txt">Administracja</span>
            <span class="item-d">
              <p class="item-dot"></p>
            </span>
           </div>
      </div>
    </div>
  </section>


  
  
  
  
  
  
  