 <section class="motto pb-medium" data-scroll-section>
  <div class="container">
    <div class="motto-wrap p-2 p-md-5">
      <div class="offset-md-1 col-md-10 text-center pb-xsmall">
        <p class="h2 split-lines">
          Zobacz firmy które realnie zwiększyły zyski dzięki dobrej stronie internetowej
        </p>
      </div>
      <div class="row g-3 pb-xsmall">
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-business.png" class="fade-in bg-light-1" alt="">
        </div>
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-c7med.png" class="fade-in bg-light-1" alt="">
        </div>
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-ecotech.png" class="fade-in bg-light-1" alt="">
        </div>
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-egp.png" class="fade-in bg-light-1" alt="">
        </div>
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-gaszyn.png" class="fade-in bg-light-1" alt="">
        </div>
        <div class="col-6 col-md-4 col-xl-2">
          <img src="/assets/img/clients/logo-staltom.png" class="fade-in bg-light-1" alt="">
        </div>
      </div>
    </div>
  </div>
</section>