<section class="pt-xsmall pb-medium" data-scroll-section>
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3">
                <a href="#" title="">
                    <div class="service-card">
                        <div class="service-card-image">
                            <div class="parallax-wrap aspect_16-9 reveal reveal--top">
                                {% Image "src/assets/img/services/strony.jpg", "Obsługa" %}
                            </div>
                        </div>
                        <div class="service-card-content">
                            <h3 class="split-lines color-light">
                                Strony www
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="">
                    <div class="service-card">
                        <div class="service-card-image">
                            <div class="parallax-wrap aspect_16-9 reveal reveal--top">
                                {% Image "src/assets/img/services/obsluga.jpg", "Obsługa" %}
                            </div>
                        </div>
                        <div class="service-card-content">
                            <h3 class="split-lines color-light">
                                 Ecommerce
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="">
                    <div class="service-card">
                        <div class="service-card-image">
                            <div class="parallax-wrap aspect_16-9 reveal reveal--top">
                                {% Image "src/assets/img/services/ads.jpg", "Marketing" %}
                            </div>
                        </div>
                        <div class="service-card-content">
                            <h3 class="split-lines color-light">
                                Pozycjonowanie 
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="">
                    <div class="service-card">
                        <div class="service-card-image">
                            <div class="parallax-wrap aspect_16-9 reveal reveal--top">
                                {% Image "src/assets/img/services/admin.jpg", "Marketing" %}
                            </div>
                        </div>
                        <div class="service-card-content">
                            <h3 class="split-lines color-light">
                                Kampanie ADS
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div> 
</section> 